.footer{
	background:black;
	float:bottom;
	display:block;
	margin-top:70px;
	width:100%;
}
.footer .row{
	margin:auto;
}
.footer a{
	color:#3136c9;
}
.footer .links p:first-child {
    font-size:1.5em;
}
.footer .links {
    margin-left:1.3em;
}
.footer .links p a{
	white-space:nowrap;
}
#footer-bar{
	height:10px;
	background:#c93136;
}

#footer-social{
	width: 12em;
	display:block;
	margin:auto;
	margin-top:11px;
}

#footer-copyrights{
	text-align:center;
	font-size:.9em;
	margin-top:10px;
	margin-bottom:0px ;
}
