.media{
	margin-top:8px;
    margin-bottom:-6px;
}

#main-img{
	-webkit-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 2px 12px 0px rgba(0,0,0,0.75);
}
.media img{
	width:60px;
	height:60px;
    border-radius:50%;
	margin-right:7px;
}
.media-heading{
	cursor:pointer;
    font-size:1.2em;
}

.total-downloads{
	color:white;
	font-weight:500; 
	font-size:.9em;
}
textarea {
   resize: none;
}