
.modal-content {
	background-color:#424242;
	color:#E91E63;
}
.modal-body{
	border:none;
}
.card{
	
	margin-bottom:10px;
	background:rgb(33, 33, 33);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.img-options{
  height:35px;
  width:100%; 
  position:relative; 
  float:left; 
  margin-bottom:-60px;
  z-index:2;
  display:none;
}
.img-cont:hover .img-options{
  display:block;
}
.img-cont:hover img{
  opacity:.8;
  cursor:pointer;
}

@media only screen and (max-width: 600px) {
h2{
  font-size: 1.3em;
}

.card{
	width:98%;
}
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
  display:block;
  margin-top:9px;
  padding:5px;
}

.tags li {
  float: left; 
}

.tag {
  white-space: pre;
  background: black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag .cut{
  color:#E91E63;
  font-size:.83em;
  cursor:pointer; 
}



.tag:hover::after {
   border-left-color: black; 
}