div.video-container{
	
	margin-bottom: 14px;
	cursor: pointer;
}

.fa-thumbs-down{
	float:right;
	font-size:28px;
}

.fa-thumbs-up{
	float:left;
	font-size:28px;
}
#rating{
	width:130px;
	float:right;
}

.video-container{
    margin-bottom: 14px;
	cursor: pointer;
}
.modal-content {
	background-color:#424242;
	color:#E91E63;
}
.modal-body{
	border:none;
}
.card{
	width:48%;
	margin:3px;
	display:inline-block;
	background:#263238;
}

.img-options{
  height:35px;
  width:100%; 
  position:relative; 
  float:left; 
  margin-bottom:-60px;
  z-index:2;
  display:none;
}
.img-cont:hover .img-options{
  display:block;
}
.img-cont:hover img{
  opacity:.8;
  cursor:pointer;
}

@media only screen and (max-width: 600px) {
h2{
  font-size: 1.3em;
}
div.video-container b{
	font-size:.7em;
}
.fa-thumbs-down,.fa-thumbs-up{
	font-size:20px;
}
.progress{
	margin-top:-7px;
}
#rating{
	width:30%;
}
div.video-container{
	
	margin-bottom: 5px;
}
.card{
	width:98%;
}
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
  display:block;
  margin-top:9px;
  padding:5px;
}

.tags li {
  float: left; 
}

.tag {
  white-space: pre;
  background: black;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 20px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag .cut{
  color:#E91E63;
  margin-left:-13px;
  cursor:pointer; 
}

.tag::after {
  background: #263238;
  border-bottom: 13px solid transparent;
  border-left: 10px solid black;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover::after {
   border-left-color: black; 
}