#upload_a{
	float: right;
	margin-right: 22px;
	cursor: pointer;
	color: black;
}
.modal-content {
	background-color:#424242;
	color:var(--main-color);
}
.modal-body{
	border:none;
}
.fa-plus-circle{
	color: red;
    font-size: 20px;
    margin-bottom: -6px;
}
  #img{
  background-color: #626263;

 }
  #img01{
 margin-top:54px;
 }

  img{
   cursor:pointer;
  }
  .images{
       column-count:3;
       -webkit-column-gap: .4em; /* Chrome, Safari, Opera */
       -moz-column-gap: .4em; /* Firefox */
       column-gap: .4em;
   }
   .images img{
       width:100%;
       margin-top:.4em;
   }
  @media only screen and (max-width: 600px) {
   .images{
       column-count:1;
   }
  }  
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    .images{
       column-count:3;
   }
}
  

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.img-modal-container{
 display:block;
 margin:auto;
 padding:15px;
 margin-top:-45px;
 border-radius:5px;
 }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    .img-modal-container{
       width:100%;
    }
}


<!-- image modal-->
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 16px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#imageUploadContainer{
	padding:10px;
    border-radius:4px;
    background-color:#33363d;
    -webkit-box-shadow: -2px 2px 18px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 2px 18px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 2px 18px 0px rgba(0,0,0,0.75);
    
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#submitbtn{
	color:var(--main-color);
    background:var(--main-background);
    border:2px solid steelblue;
    width:50%;
    display:block;
    margin:auto
}
#selectfile{
	color:var(--main-color);
	background:var(--main-background);
	border:2px solid steelblue;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  white-space: pre;
  background: black;
  border-radius: 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag .cut{
  color:red;
}

.tagImg{
	padding: 12px;
	border:2px solid var(--main-color);
}
.tagImg p {
	display:block;
	margin-top:-13px;
}
.tag:hover::after {
   border-left-color: black; 
}

 #ppUploadModal{
     width:100%;  
     height:100%;
     position:fixed;
     display:none;
     top:0;
     background: rgba(0, 0, 0, 0.6);
   }
   #ppUploadModal div:first-child{
   max-width:400px;
   background-color:black;
   display:block;
   position:relative;
   top:15%;
   margin:auto;
   border-radius: 3px;
   
   }